.h5p-speak-the-words-record:before {
  font-family: "H5PFontAwesome4";
  content: "\f130";
}

.h5p-speak-the-words-record.h5p-disabled,
.h5p-speak-the-words-record.h5p-disabled:active,
.h5p-speak-the-words-record.h5p-disabled:hover,
.h5p-speak-the-words-record.h5p-disabled:focus,
.h5p-speak-the-words-record.h5p-hidden,
.h5p-speak-the-words-record.h5p-hidden:active,
.h5p-speak-the-words-record.h5p-hidden:hover,
.h5p-speak-the-words-record.h5p-hidden:focus {
  display: none;
}

.h5p-speak-the-words-record.h5p-listening,
.h5p-speak-the-words-record.h5p-listening:hover,
.h5p-speak-the-words-record.h5p-listening:active,
.h5p-speak-the-words-record.h5p-listening:focus {
  background-color: #dd2e2e;
  box-shadow: none;
}

